@model LugaresTuristicos.Models.Usuario

<!DOCTYPE html>

<html lang="es">
<head>
    <title>LogIn</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <link href="~/Content/main.css" rel="stylesheet" />
</head>

<body class="cover" style="background-image: url(/Imagen/los-banos-del-inca-3787.jpg);">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

        if (@ViewBag.message != null)
        {

        }

        <p class="text-center text-muted"><i class="zmdi zmdi-account-circle zmdi-hc-5x"></i></p>
        <p class="text-center text-muted text-uppercase">Login TOURS CENTER </p>        
                <fieldset class="full-box logInForm">
                    <h3>TOURS CENTER</h3>
                    <p>Bienvenido</p>
                    <div class="form-group label-floating">
                        <label class="control-label" for="UsuarioName">Usuario</label>

                        <input class="form-control" style="color:white" id="UsuarioName" name="UsuarioName" type="text">

                        <p class="help-block">Escribe tú Usuario</p>
                    </div>
                    <div class="form-group label-floating">
                        <label class="control-label" for="Password">Contraseña</label>

                        <input class="form-control" style="color:white" id="Password" name="Password" type="password">
                        <p class="help-block">Escribe tú contraseña</p>
                    </div>
                    <div class="form-group text-center">
                        <a type="submit" class="btn btn-raised btn-success" href="/Login/Registrar">Registrar</a>
                        <input id="iniciar" type="submit" value="Login" class="btn btn-raised btn-danger">

                    </div>



                </fieldset>
    }
    <!--====== Scripts -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/material.min.js"></script>
    <script src="~/Scripts/ripples.min.js"></script>
    <script src="~/Scripts/sweetalert2.min.js"></script>
    <script src="~/Scripts/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/main.js"></script>

    <script>
        $.material.init();
    </script>
</body>
</html>
